.favorites {
  grid-area: favorites;

  background-color: white;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  padding: 32px;

  width: 296px;
  height: 472px;

  .head {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #424242;
  }

  &Scroller {
    width: 296px;
    height: 472px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
      background-color: #E7E7E7;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #41522E;
      width: 3px;
    }

    .favItemWrapper {
      display: flex;
      flex-direction: row;

      &HomeBtn {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .item {
        border-bottom: 2px solid rgba(135, 135, 135, 0.2);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 6px 4px;

        &Left {
          cursor: pointer;

          .hotelName {
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #424242;
          }

          .days {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.408px;
            color: #878787;
          }
        }

        &Right {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .like {
            align-self: end;
          }

          .priceTxt {
            font-style: normal;
            font-weight: 300;
            line-height: 1.5;
            font-size: 11px;
            letter-spacing: -0.408px;
            color: #878787;
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-end;

            span {
              font-style: normal;
              font-weight: 600;
              font-size: 17px;
              line-height: 22px;
              text-align: right;
              letter-spacing: -0.408px;
              color: #424242;
              padding-left: 6px;
            }
          }
        }
      }
    }
  }

  &FilterBtns {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 32px;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    .ratingFilterBtn {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 89px;
      height: 28px;

      cursor: pointer;

      background: #FFFFFF;

      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #E5E5E5;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.408px;
      color: #99A0A3;
      text-align: left;
      padding-left: 8px;

    }

    .priceFilterBtn {
      display: flex;
      flex-direction: row;
      align-items: center;

      cursor: pointer;

      width: 71px;
      height: 28px;
      margin-left: 8px;

      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      box-sizing: border-box;
      border-radius: 4px;

      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.408px;
      color: #99A0A3;
      text-align: left;
      padding-left: 8px;

    }

    .arrows {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .enabled {
      border-color: #41522E;
      color: #41522E;
    }
  }
}