.wrapper {

  .header {
    display: flex;
    align-items: center;
    margin-left: 31px;
    margin-right: 31px;
    width: 100%;
    height: 92px;

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #424242;
    }

    button {
      display: flex;
      align-items: center;
      border: none;
      background-color: #E5E5E5;

      span {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.408px;
        color: #41522E;
        text-align: right;
      }
      img {

      }
    }
  }

  .body {
    display: grid;

    grid-template-areas:
    "filter hotels"
    "filter hotels"
    "favorites hotels";
    //grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 24px;

    padding-left: 196px;
    padding-right: 196px;
    margin: 0 auto;

    .filter {
      grid-area: filter;

      background-color: white;
      box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
      border-radius: 16px;
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      padding: 32px;

      width: 296px;
      height: 356px;


      .description {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #424242;

        padding-bottom: 7px;
      }

      input {
        border: 1px solid #C9CACC;
        box-sizing: border-box;
        border-radius: 4px;
        width: 296px;
        height: 50px;

        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        padding-left: 15px;

        &:active {
          border: 1px solid black;
        }
      }

      .location {
        padding-bottom: 20px;
      }

      .date {
        padding-bottom: 20px;
      }

      .daysNumber {
        padding-bottom: 20px;
      }

      .searchBtn {
        button {
          width: 296px;
          height: 50px;

          background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          border: none;

          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;

          color: #FFFFFF;

          &:hover {
            cursor: pointer;
          }

          &:active {
            cursor: pointer;
          }
        }
      }
    }

    .favorites {
      grid-area: favorites;

      background-color: white;
      box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
      border-radius: 16px;
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      padding: 32px;

      min-width: 296px;
      min-height: 472px;
    }

    .hotels {
      grid-area: hotels;

      background-color: white;
      box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
      border-radius: 16px;
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      padding: 48px 32px;

      min-width: 664px;
      min-height: 902px;

      .hotelsBody {

        &Scroller {
          width: 1066px;
          height: 600px;
          overflow:auto;

          .error {
            color: red;
          }
        }
      }

      .item {
        border-bottom: 2px solid rgba(135, 135, 135, 0.2);
        border-radius: 8px;

        a {
          text-decoration: none;
          color: black;
          outline: none;
        }
      }

      .imageSlider {
        padding: 10px;
      }
    }
  }
}

